html,
body {
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", sans-serif;
}
h1 {
  line-height: 0.5;
  color: rgb(57, 139, 215);
  font-size: 42px;
}
p {
  color: rgb(50, 50, 50);
  line-height: 0.75;
  font-size: 15px;
}
canvas {
  display: block;
}
span {
  color: rgb(255, 100, 20);
  font-weight: 800;
}
